#tituloreview{
    margin-left: 15px;
     background:white;
     margin-left: 0px;
      height: 887px;

}
#contenidoreview{
    margin-left: 15px;
}

#reviews{
    font-size: 18px;
}
#reviews{
    font-size: 14px;
    margin-left: 20px;
}

#estrellas{
    height: 35px;
     width: 120px;
}

#titulotitulo{
    font-size: 35px;
    margin-left: 10px;
}
#botonrosadoinfl{
    background: linear-gradient(to right,rgb(148, 43, 235),rgb(250, 150, 253));
    border-color: black;
    border-width: 2px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 20px;
    margin-left: 15px;
}