*{
    box-sizing: border-box;
}
#body{
    min-height: 100vh;
    margin-right: 80%;
}

#tituloPerfil{
    font-weight: bold;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#botonblancoP{
    background-color:rgb(208, 172, 238);
    background: linear-gradient(to right,rgb(208, 172, 238),rgb(243, 243, 243));
    border-color: black;
    border-width: 2px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 100%;
}
#ignore{
    color: rgb(48, 34, 56);
}
#contenidoPerfil{
    background-color: rgba(188, 146, 207, 0.904);
}