body
{
    background-color: rgb(49, 12, 117);
}

footer
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://images.unsplash.com/photo-1618386230353-3631c1365be2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
    color: aliceblue;
}

#controller
{
    height: 300px;
    width: 300px;
}
.container
{
    transform: translate(0%, 15%);   
}

#addCart
{
    background-color: indigo;
    color: white;
    
}

#espacio
{
    width: 20px; 
    height: 20px;   
}

#func
{
    float: left;
    display: flex;
    
}

#data
{
    padding-right: 0%;
}

#gato
{
    background-image: linear-gradient(rgb(0, 73, 182), rgb(15, 14, 71));
}

#fond_inv
{
    background-color: rgba(75, 75, 175, 0.527);
    width: 200px;
    margin-bottom: 200px;
    align-items: center;
    justify-content: center;
}

#sp-bot
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#inv
{
    margin-top: 20px; 
}

.bgbutton
{
    background-color: blueviolet;
    color:antiquewhite;
}

#subpc
{
    color:rgb(180, 146, 212);
}

th, td
{
    color: white;
}

.header-right a
{
    float: right;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.letras
{
    padding: 10px;
}
.header-right input
{
    float: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-right a:hover
{
    background-color: rgb(100, 23, 201);
    color: rgb(0, 0, 0);
}



#searchInput
{
    height: 25px;
    width: 300px;
}

.links
{
    padding: 10px;
}

.header-right img
{
    float: right;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;

    height: 50px;
}
